@media (min-width:750px){
  // vestes
.header {
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  display:flex;
  nav {
     width: 100vw;
     background-color: $primarycolor;
  }
    .lis {
      position: absolute;
      opacity: 1;
      transform: none;
      height: 30%;
      flex-direction: row;
      justify-content: start;
      left:0;
    }
  .header__logo{
    position: fixed;
    left: 46%;
    z-index: 1;
    opacity:0.5;
  }
  .burger__li {
    top: 15px;
    margin:30px;
    margin-left: 40px;
    font-size: 20px;

  } 
}
.banner {
  background-color: #36BDCB;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
  .slogan {
    position: relative;
    top: -107vh;
    font-family: Baloo;
    color: white;
    left: 35vw;
    z-index: 1;
    font-size: 60px;
          
      }
  .button__choose {
    
  }    
  .rainbow {
    position: relative;
    bottom: 20vh;
    width: 100vw;
  }
  .jackets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 39%;
    right: 10vw;
    width: 100%;
    height: 100%;
    box-shadow: none;
    .left__jacket {
      position: relative;
      width: auto;
      bottom: 0vh;
      right: 15%;
      height: 45vh;
      transform: rotate(12deg);
        
      }
      .right__jacket {
        position: relative;
        bottom: 25vh;
        right: 13%;
        width: auto;
        height: 43vh;
        transform: rotate(-3.79deg);

      }
    }
  .sentence {
    text-align: center;
    position: relative;
    top: -101vh;
    flex-flow: column wrap;
    color: white;
    left: 35vw;
  }
  
  .button__fans{
        height: 8.38vh;
        width: 32vw;
        font-size: 24px;
        border-radius: 20.5px;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .fans__img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        grid-template-rows: 1fr 1fr;
      }
      }   

      .eco{
        background-color: white;
      }
    .eco__title{
      font-size: 48px;
    }
    .yo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }
      .eco__plant{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
      .eco__shop{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
      }
      .eco__earth{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
}

    