
$primarycolor: #36BDCB;
  $secondarycolor: #D9F7FA;
  $thirdcolor:  #F6D6FC;
  $fourthcolor: #FFD9C9;
  $fifthcolor: #FFFFC4;
  $footercolor: #677577;
//keyframes
nav {
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: height 0.5s, width 0.5s, left 0.5s, bottom 0.5s, border-radius 0.3s;
  z-index:1;

}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  left: 0;
  bottom: 0;
  background-color:$fourthcolor;
  opacity:0.5;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.open-icon {
  transition: background-color 0.3s;
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 30px;
  height: 4px;
  background: black;
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.3s;
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(4px);
}

nav.is-open .open-icon {
  background-color: transparent;
}

nav.is-open .open-icon::before {
  transform: translateY(2px) rotate(45deg);
}

nav.is-open .open-icon::after {
  transform: translateY(-2px) rotate(-45deg);
}

.lis {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:30px;
  height: 100vh;
  width: 100vw;
  transform: translate(calc(-50vw + 40px), calc(50vh - 40px)) scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
}

nav.is-open .lis {
  transform: none;
  opacity: 1;
}

nav:not(.is-open) .lis {
  pointer-events: none;
}

li {
  font-size: 60px;
  text-transform: uppercase;
  font-family: Helvetica;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: px) {
  nav {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  
  nav.is-open {
    height: 50px;
    background-color: $primarycolor;
  }
  
  .open {
    display: none;
  }
  
  ul {
    position: static;
    opacity: 1;
    transform: none;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  
  li {
    font-size: 40px;
  }
  
  li:not(:last-child) {
    margin-bottom: 0;
  }
}


 .banner {
    background-color: $primarycolor;

    width: 100vw;
    margin-bottom: 20%;

    .burger__li {
      opacity: 1;
      font-size: 40px;
      margin: -100px;
    }
    .burger__li:not(:last-child) {
      margin-bottom: 0;
    }
  }

.banner {
  background-color: $primarycolor;
  width: 100vw;
  height: 50vh;
  position: absolute;
  .slogan {
    text-align: center;
    top: 30vh;
  }
}
.sentence {
  text-align: center;
  position: relative;
  top: 36vh;
  flex-flow: column wrap;
  color: white;
  .jackets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: -4%;
    right: -64vw;
    width: auto;
    height: 100vh;
    .left__jacket {
      position: relative;
      width: auto;
      height: 43vh;
      transform: rotate(-25.79deg);
      top: -22px;
      left: 0px;
    }
    .right__jacket {
      position: relative;
      width: auto;
      bottom: 55vh;
      right: -2px;
      height: 45vh;
      transform: rotate(36deg);
    }
  }
}
//  Choisir le modèle
.choose {
  // background-color: $thirdcolor;
  color: $primarycolor;
  text-align: center;
  margin-top: 52vh;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 24px;
  .button__choose {
    background-color: $primarycolor;
    border: none;
    color: #ffffff;
    height: 6vh;
    width: 48vw;
    font-size: 14px;
    border-radius: 20.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 16px;
    box-shadow: 4px 4px 0px $thirdcolor;
  }
  .choose__sections {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .blue__jacket,
  .dark__jacket {
    height: 46vh;
    width: auto;
    padding-top: 16px;
  }
  .choose__price {
    color: black;
    font-size: 18px;
  }

  @media (min-width: 750px) {
    .choose__title {
      font-size: 48px;
    }
    .choose__sections {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-self: center;
    }
    .button__choose {
      width: 18vw;
      height: 7.5vh;
      text-align: center;
      // margin-left: 55px;
      font-size: 24px;
      justify-self: center;
    }
    .choose__blue {
      padding-right: 160px;
    }
    .choose__price {
      font-size: 18px;
    }
  }
}

// Fans
.fans {
  background-color: $secondarycolor;
  height: 72vh;
  color: $primarycolor;
  text-align: center;
  padding-top: 16px;
  font-size: 24px;
  // margin-bottom: 16px;
  .fans__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
    padding-top: 32px;
  }
  .button__fans {
    background-color: $primarycolor;
    border: none;
    color: #ffffff;
    height: 5vh;
    width: 48vw;
    font-size: 10px;
    border-radius: 20.5px;
    margin-top: 50px;
    display: block;
    margin: auto;
    box-shadow: 4px 4px 0px $thirdcolor;
  }

  @media (min-width: 750px) {
    font-size: 48px;
    padding-top: 24px;
    .button__fans {
      height: 8.38vh;
      width: 32vw;
      font-size: 24px;

      font-family: "Baloo";
      .button__choose{
        background-color: $primarycolor;
        border: none;
        color: #FFFFFF;
        height: 6vh;
        width: 48vw;
        font-size: 14px;
        border-radius: 20.5px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 16px;
        box-shadow: 4px 4px 0px $thirdcolor;
      }
      .choose__sections{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
      }
      .blue__jacket, .dark__jacket{
        height: 46vh;
        width: auto;
        padding-top: 16px;
      }
      .choose__price{
        color: black;
        font-size: 18px;
      }


      //Desktop
      @media (min-width:750px) {
        font-family: "Montserrat";
        .choose__title{
          font-size: 48px;
          font-family: "Baloo";
        }
        .choose__sections{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          justify-self: center;
        }
        .choose__blue{
          padding-right: 160px;
        }
        .choose__price{
          font-size: 18px;

          justify-content: space-evenly;
        }
        .button__choose{
          width: 36vw;
          height: 7.5vh;
          text-align: center;
          font-size: 24px;
        }

        .choose__price{
          font-size: 18px;
          font-family: "Montserrat Light";
        }
      
   
   
   // Fans 
   .fans{
    height: 56vh;

    color: $primarycolor;
    text-align: center;
    padding-top: 16px;
    font-size: 24px;
    .fans__title{
      font-family: "Baloo";
    }

    .fans__img{

      border-radius: 20.5px;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .fans__img {

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      grid-template-rows: 1fr 1fr;

      padding-top: 32px;
    }
    .button__fans{
      background-color: $primarycolor;
        border: none;
        color: #FFFFFF;
        height: 5vh;
        width: 48vw;
        font-size: 10px;
        border-radius: 20.5px;
        margin-top: 50px;
        display: block;
        margin: auto;
        box-shadow: 4px 4px 0px $thirdcolor;

    }
    
    @media (min-width:750px) {
      background-color: white;
      font-size: 48px;
      padding-top: 24px;
      height: 72vh;
      .button__fans{
        height: 8.38vh;
        width: 32vw;
        font-size: 24px;
        border-radius: 20.5px;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .fans__img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        grid-template-rows: 1fr 1fr;
      }
      }   
    
   }
   

   .star1{
    height: 17.85vh;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
   }
   
   .star2{
    height: 17.85vh;
    width: auto;
    grid-column: 2 / 2;
    grid-row: minmax (100px, auto);
    align-self: center;
    justify-self: center;
   }
   
   .star3{
    height: 17.85vh;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    align-self: center;
    justify-self: center;
   }
   
   .star4{
    height: 17.85vh;
    width: auto;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    align-self: center;
    justify-self: center;
   }


   //Eco
   .eco{
    height: auto;
    width: 100vw;
    padding: 16px 0px;

   .eco__title{
    text-align: center;
    font-size: 24px;
    font-family: "Baloo";
    margin-top: 8px;
    margin-bottom: 16px;
   }
   .yo{
     margin-left: 16px;
     margin-right: 16px;
   }
   .eco__plant, .eco__shop, .eco__earth{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     text-align: center;
     margin-bottom: 32px;
     font-size: 14px;
     font-family: "Monsterrat Regular";
   }
   .eco__plant img, .eco__shop img, .eco__earth img{
     margin-bottom: 24px;
   }
  }


   // Footer
   .footer{
    height: 8vh;

    width: 100vw;
    background-color: $footercolor;
    display: flex;
    flex-direction: row;
    font-family: "Monsterrat Regular";
    font-size: 8px;
    .text__footer{
      font-size: 10px;
      width:24vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #FFFFFF;
      margin-left: 16px;
    }
    .icons__footer{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 10px;
      width:52vw;
      color: #FFFFFF;
    }
    .text__footer1{
      width: 24vw;
      font-size: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;    
      color: #FFFFFF;
      margin-right: 16px;
    }
   }

   // Cart 

   .header__bee {
    display: flex;
    background-color: $primarycolor;
    width: 100vw;
    height: 65px;
    &.logoBee {
      object-fit: scale-down;
      justify-content: center;
     align-items: center;
    }}}}

    }
  }


.star1 {
  height: 17.85vh;
  width: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.star2 {
  height: 17.85vh;
  width: auto;
  grid-column: 2 / 2;
  grid-row: minmax (100px, auto);
  align-self: center;
  justify-self: center;
}

.star3 {
  height: 17.85vh;
  width: auto;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  align-self: center;
  justify-self: center;
}

.star4 {
  height: 17.85vh;
  width: auto;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  align-self: center;
  justify-self: center;
}
.eco {
  background-color: $fifthcolor;
  height: auto;
  width: 100vw;
  padding: 16px 0px;

  .eco__title {
    color: $primarycolor;
    text-align: center;
    font-size: 24px;
  }
  .eco__sections {
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
  }
}
.footer {
  height: 9.95vh;
  width: 100vw;
  background-color: $footercolor;
  display: flex;
  flex-direction: row;
  .text__footer {
    font-size: 10px;
    width: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin-left: 16px;
  }
  .icons__footer {
    justify-content: center;
    font-size: 10px;
    width: 52vw;
    margin-top: 3vh;
    color: #ffffff;
  }
  .text__footer1 {
    width: 24vw;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin-right: 16px;
  }
}

// Cart

.header__bee {
  display: flex;
  background-color: $primarycolor;
  width: 100vw;
  height: 65px;
  &.logoBee {
    object-fit: scale-down;
    justify-content: center;
    align-items: center;
  }
}
.title {
  display: flex;
}

//Page Custom, Bottom Part

.personalisation__title {
  font-size: 24px;
  color: $primarycolor;
  text-align: center;
  margin-bottom: 16px;
}
.personalisation__color {
  text-align: center;
}
.personalisation__bleach {
  margin-right: 28px;
}
.personalisation__titleSize {
  font-size: 24px;
  margin: 24px;
  text-align: center;
}
.personalisation__collec {
  text-align: center;
}
.personalisation__patch {
  margin-right: 22px;
  margin-bottom: 16px;
}
.board {
  border: solid black 0.1px;
  width: 300px;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}
.board__patch {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 16px;
}
.save {
  background-color: $primarycolor;
  color: white;
  height: 36px;
  width: 146px;
  border: none;
  margin: auto;
  margin-top: 48px;
  border-radius: 20.5px;
  display: block;
  box-shadow: 4px 4px 0px $thirdcolor;
}
.addBasket {
  background-color: $primarycolor;
  color: white;
  height: 36px;
  width: 191px;
  border: none;
  margin: auto;
  margin-top: 32px;
  border-radius: 20.5px;
  display: block;
  box-shadow: 4px 4px 0px $thirdcolor;
}

// Custom Up

// Cart

.header__bee {
  display: flex;
  background-color: $primarycolor;
  width: 100vw;
  height: 65px;
  &.logoBee {
    object-fit: scale-down;
    justify-content: center;
    align-items: center;
  }
}
.title {
  display: flex;
}

.jacket__view {
  display: flex;
  background-color: $thirdcolor;
  height: 312px;
  width: 288px;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}

