 body{
   margin: 0;
   padding:0;
 }
 
 $primarycolor: #36BDCB;
 $secondarycolor: #D9F7FA;
 $thirdcolor:  #F6D6FC;
 $fourthcolor: #FFD9C9;
 $fifthcolor: #FFFFC4;
 $footercolor: #677577;

//  Choisir le modèle

.choose{
  background-color: $thirdcolor;
  color: $primarycolor;
  display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    height: 230vh;
    font-size: 24px;
    .button__choose{
      background-color: $primarycolor;
      border: none;
      color: #FFFFFF;
      height: 9.47vh;
      width: 53.33vw;
      font-size: 14px;
      border-radius: 20.5px;
    }
    .choose__blue{
      font-size: 18px;
    }
    .choose__dark{
      font-size: 18px;
    }
}

// Fans 

.fans{
  background-color: $secondarycolor;
  height: 97.44vh;
  
}
 //  Footer

.footer{
  height: 9.95vh;
  width: 100vw;
  background-color: $footercolor;
  display: flex;
  flex-direction: row;
  // padding-top: 4vh;
  .text__footer{
    font-size: 10px;
    width:24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
  }
  .icons__footer{
    justify-content: center;
    font-size: 10px;
    width:52vw;
    margin-top: 3vh;
    color: #FFFFFF;
  }
  .text__footer1{
    width: 24vw;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    color: #FFFFFF;
  }
}