$primarycolor: #36BDCB;
 $secondarycolor: #D9F7FA;
 $thirdcolor:  #F6D6FC;
 $fourthcolor: #FFD9C9;
 $fifthcolor: #FFFFC4;
 $footercolor: #677577;

//  Footer
.footer{
  height: 334px;
  width: 360px;
  background-color:$footercolor;
}